backend/devices/dht11_device.py
backend/database.db
env
.DS_Store
.gitignore
backend/models/__pycache__
backend/__pycache__
backend/models/__pycache__
backend/controllers/__pycache__
backend/controllers/__pycache__
backend/controllers/__pycache__
backend/devices/__pycache__
backend/devices/__pycache__
backend/models/__pycache__
backend/routes/__pycache__
backend/routes/__pycache__
backend/routes/__pycache__
backend/services/__pycache__
backend/services/__pycache__
